@import 'nib'
@import 'nib/gradients'

@import url(http://fonts.googleapis.com/css?family=Abril\+Fatface)

global-reset()

// https://github.com/mozilla/kuma/blob/master/media/redesign/stylus/mixins.styl
set-placeholder-style(prop, value)
  &::-webkit-input-placeholder
    {prop} value
  &::-moz-input-placeholder
    {prop} value
  &::input-placeholder
    {prop} value

header-background-color = rgb(28, 100, 128)
header-font-color = white

body-background-color = white
body-font-color = #010204
body-input-font = 14px monospace
body-input-font-color = black
body-input-placeholder-font-color = lightgray
body-error-font-color = red

textarea-height = 200px

shadow-color = grey


*,*::before,*::after
  box-sizing  border-box

h1
  font-size 50px

h2
  font-size 24px

h3
  font-size 20px

.error
  color body-error-font-color

body
  background-color body-background-color
  font             14px 'Arial', sans-serif
  color            body-font-color

  .header
    background-color header-background-color
    color            header-font-color

    .title
      font-family 'Abril Fatface', cursive

    .title a
      text-decoration none
      color           inherit

    .tagline
      absolute bottom 8px right 0

  .content
    width    800px
    margin   0 auto
    position relative

    .section
      display none

      &.visible
        display block

    .heading
      margin         20px 0 10px
      border-bottom  1px solid body-font-color

    textarea, input[type="text"]
      display       block
      font          body input font
      color         body-input-font-color
      width         100%
      padding       10px
      margin        10px 0
      border        none
      border-bottom 1px solid body-font-color
      outline       none

      &:focus
        box-shadow   0 0 5px shadow-color
        border-color transparent

      set-placeholder-style(color, body-input-placeholder-font-color)
      set-placeholder-style(font, body-input-font)

    textarea
      height textarea-height
      resize vertical

      &.display
        height        textarea-height - 1px
        border        none
        margin-bottom 0

        &:focus
          box-shadow    inherit

    .progress
       height           1px
       background-color body-font-color
       margin-bottom    10px
       overflow         hidden
       position         relative

      .bar
        box-sizing       content-box
        background-color body-background-color
        width            10px
        height           100%
        absolute         left

    button, input[type="submit"]
      margin 10px 10px 10px 0
