# Temporary files
.*.swp
.*.swo
*~

# SQLite databases
*.db

# Node modules
node_modules

# Configuration files
.exrc

# Compiled files (this list might grow)
static/css/*.css

# Logs
error.log

# Startup scripts
start.sh
