extend layout
block scripts
  script(type='text/javascript', src='/static/js/views/index.js')
  // https://code.google.com/p/google-diff-match-patch/ 
  script(type='text/javascript', src='/static/js/diff_match_patch.js')

block content
  .loading.section
    h3.heading Preparing typecording.

  .playback.section
    h3.heading.title
    textarea.display(readonly)
    .progress
      .bar
    button.play Play
    button.home Home

  form.recording.section(action='/', method='POST')
    h3.heading Please type something in the box and press 'Publish'
    textarea(name='recording', placeholder='Recording')
    input(type='text', name='title', placeholder='Optional title')
    input(type='submit', value='Publish')
    button.reset Reset
